.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    background-color: aqua;
    z-index: 150;
    animation: slide-in .2s ease-in-out;
}

.overlay { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(black, .3);
    z-index: 149;
}

@keyframes slide-in {
    from {
        left: -100%
    }

    to {
        left: 0;
    }

}