# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
wixer/node_modules
wixer/.pnp
.pnp.js

# testing
wixer/coverage

# production
wixer/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
